#text-area {
    width: calc(32rem + 4.5rem);
    height: 4.5rem;

    font-family: monospace;
    font-size: 1.25rem;

    overflow-y: hidden;

    line-height: 1.5rem;

    white-space: normal;
    word-wrap: break-word;

}   .char {
    position: relative;

    color: var(--text-color);

    top: 0rem;
    transition: top .1s;
}

.char.correct {
    color: lime;
}
.char.incorrect {
    color: red;
}

.char.space::after {
    position: absolute;
    content: "";

    width: 2px;
    height: 2px;
}

.char.current:not(:first-of-type) { /* Adds marker for which letter you're currently on */
    content: "";

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, .3);
}